
.titulo-h2
{
     color:blue;

}

.i-arg-progperfil{
    height:150px ;
    width: 150px;
    padding: 50px;
    display: inline-block;
    margin-top: 200px;
    display:block;
    position: static;
    top: 0px;
    bottom:0 px;
    right: 0px;
    left:0px ;
    
}
.iniport {
    height:100px ;
    width: 300;
    background-color: grey;
    text-align: center;
    border-radius:10px 10px;
    border: 4px solid blue;
    margin-left: 50px;
    padding-left: 50px;
    display: block;
    position:relative;
    top: -150px;
    bottom:0 px;
    right: 0px;
    left:150px ;

}
.banner {
    height:100px;
    width: 1000px;
    display: inline-block;
    position:relative;
    top: 240px;
    bottom:0 px;
    right: 0px;
    left:250px ;

}

.perfil{
    height:150px ;
    width: 150px;
    display: inline-block;
    position: relative;
    top: 0px;
    bottom:0 px;
    right: 0px;
    left:20px ;
    
}

li :hover 
{
    color:red;
}

#selectormouse:hover
{
    color:red;
} 

.datos-titulo-parrafo
{
    font-size: 25px;
}


.datos-titulo-parrafo__p    
{
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

h1
{
    height:50px ;
    width: 1000px;
    background-color: grey;
    text-align: center;
    border-radius:10px 10px;
    border: 4px solid blue;
    margin: auto;

}


p { 
    box-sizing: border-box;
    height: 300px;
    width: 1000px ;
    padding: 20px 50px 20px 10px;
    text-align: center;
    margin: 50;
    
}

.inicial { 
    box-sizing: border-box;
    height:200px;
    width: 200px ;
    padding: 20px 50px 20px 10px;
    text-align: left;
    margin: 10;
    
    text-shadow: 3px 2px 7px #ffff;
    border-radius:10px 10px;
    border: 4px solid blue;
    position: relative;
    top: -150px;
    bottom:0 px;
    right: 0px;
    left:10px ;

}

nav{
    height:300px ;
    width: 800px;
    background-color: yellow;
    position: relative;
    top: -600px;
    bottom:0 px;
    right: 0px;
    left:300px ;
    font-size: 40px;

}
.redes{
    height: 50px;
    width: 50px;
    position: relative;
    display: inline-block;
    top: 0px;
    bottom:0 px;
    right: 0px;
    left:0px ;
    
}
.redesinsta{
    height: 50px;
    width: 50px;
    position:relative;
    top: 5px;
    bottom:0 px;
    right: 0px;
    left:1000px ;
    
}
.redesface{
    height: 50px;
    width: 50px;
    position:relative;
    top: -100px;
    bottom:0 px;
    right: 0px;
    left:1070px ;
    
}
.redestwt{
    height: 50px;
    width: 50px;
    position:relative;
    top: -50px;
    bottom:0 px;
    right: 0px;
    left:1130px ;
    
}