
.titulo-h2
{
     color:blue;

}

.i-arg-prog{

    
}
.iniport {


}
.banner {


} 

.perfil{

}

li :hover 
{
    color:red;
}

#selectormouse:hover
{
    color:red;
} 

.datos-titulo-parrafo
{
    font-size: 25px;
}


.datos-titulo-parrafo__p    
{
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

h1
{


}


p { 

    
}

.inicial { 



}

nav{


}
.redes{

    
}
.redesinsta{

    
}
.redesface{

    
}
.redestwt{

    
}
