header{
    background: #2c3e50;
    color: #fff;
}

article{
    background: #f2f2f2;
}

.iconoargprog{
    background: #34495e;
    color: #fff;
}

.menuppal  {
background: #869fb4;
color: black ;
text-shadow: 1px 1px rgb(38, 36, 46);
font-size: 22px;


}

aside{
    background: #b9ceca;
    color: rgb(204, 26, 26);

}

footer{
    background: #16a085;
    color: #fff;
}
.iconoargprog{
    height: auto;
    width: auto;
}
.perfil{
    height: 300px;
    width: 300px;
}
.redes a {
    height: 300px;
    width:300px;
    background: #d8e2ab;

}
.inicial
{
    background: #d1e969;
    color: rgb(107, 20, 34);
}
.inicial2
{
    background: #4a4ce4;
    color: rgb(255, 255, 255);
}
.foot{
    font: black;
}
.linkredes a {
    background: #b0b0c2;
    color: #fff;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    color: #fff;

  
}
nav a {
    color: #fff;
}
.redes0{
    height: 50px;
    width: 50px;
}
.redes1{
    height: 50px;
    width: 50px;
}
.redes2{
    height: 50px;
    width: 50px;
}
.tredes{
    display: flex;
    justify-content: center;
}